.footer {
  background: #050505;
  border-top: 1px solid var(--border);
}

.footer-top {
  min-height: 190px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 70px;
}

.footer-brand { font-size: 2rem; }

.footer-top p {
  color: #666;
  font-size: .72rem;
}

.footer-links {
  display: flex;
  gap: 25px;
}

.footer-links a {
  color: #888;
  font-size: .68rem;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-links a:hover { color: #fff; }

.socials {
  display: flex;
  gap: 8px;
}

.socials a {
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  color: #888;
  border: 1px solid #252525;
  border-radius: 50%;
  transition: .3s;
}

.socials a:hover {
  color: #fff;
  border-color: var(--primary);
  background: var(--primary);
}

.footer-bottom {
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-top: 1px solid var(--border);
  color: #555;
  font-size: .65rem;
}

.footer-bottom a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #888;
}

@media (max-width: 750px) {
  .footer-top {
    padding: 45px 0;
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .footer-links { flex-wrap: wrap; }
  .footer-bottom { padding: 20px 0; flex-direction: column; align-items: flex-start; }
}
